{% extends 'base.html.twig' %}

{% block title %}Edit PokemonRef{% endblock %}

{% block body %}
    <h1>Edit PokemonRef</h1>

    {{ include('pokemon_ref/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pokemon_ref_index') }}">back to list</a>

    {{ include('pokemon_ref/_delete_form.html.twig') }}
{% endblock %}
