<form method="post" action="{{ path('pokemons_captures_delete', {'id': pokemons_capture.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pokemons_capture.id) }}">
    <button class="btn">Delete</button>
</form>
