<form method="post" action="{{ path('pokemons_captures_entrainer', {'id': pokemons_capture.id}) }}" onsubmit="">
    <input type="hidden" name="_token" value="{{ csrf_token('entrainer' ~ pokemons_capture.id) }}">
    <button class="btn">Entrainer</button>
</form>