{% extends 'base.html.twig' %}

{% block title %}New PokemonsCaptures{% endblock %}

{% block body %}
    <h1>Create new PokemonsCaptures</h1>

    {{ include('pokemons_captures/_form.html.twig') }}

    <a href="{{ path('pokemons_captures_index') }}">back to list</a>
{% endblock %}
