{% extends 'base.html.twig' %}

{% block title %}New LieuCapture{% endblock %}

{% block body %}
    <h1>Create new LieuCapture</h1>

    {{ include('lieu_capture/_form.html.twig') }}

    <a href="{{ path('lieu_capture_index') }}">back to list</a>
{% endblock %}
